<!DOCTYPE html>
<html ng-app="library">
	<head>
		<title>My Library</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script src="/js/lazyLoad.js"></script>
		<script src="/js/main.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Hello</h1>
			</div>
				<div ng-controller="lookup">
					<div class="lookup-form">
						<form action="" ng-submit="lookupISBN()" name="ISBNLookupForm" >
							<label for="">Lookup ISBN</label>
							<input type="text" name="ISBN">
						</form>
					</div>
					<div ng-show="loading" cool-loader>
						Loading...
					</div>
					<div ng-show="!totalItems && ran">
						Sorry but I couldn't find anything!
					</div>
					<div class="row" ng-show="totalItems && !loading">
						<div>{{totalItems}} items found</div>
						<div class="media book-listing" ng-repeat = "book in books" ng-init = "b = book.volumeInfo">
							<div class="pull-left">
								<img data-lazy="{{b.imageLinks.thumbnail}}" class="media-object" alt="">
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{b.title}}</h4>
								<p>Author(s)</p>
								<ul class="unstyled">
									<li ng-repeat="author in b.authors">{{author}}</li>
								</ul>
								<p>
									{{b.description}}
								</p>
								<p>
									ISBN: {{b.industryIdentifiers[1].identifier}}
								</p>
							</div>
						</div>
						
					</div>
				</div>
				
			
		</div>
	</body>
</html>