			<div class="page-header">
				<h1>Add books to your library</h1>
			</div>
				<div >
					<div class="lookup-form">
						<form action="" ng-submit="lookupISBN()" name="ISBNLookupForm" >
							<label for="">Search for a book</label>
							<input type="text" name="ISBN" placeholder="search by ISBN name or author" class="form-control">
							<a href="#" ng-click="showTips = !showTips">Search tips</a>
							<div ng-show="showTips">
								<p>To get more specific results</p>
								<p>When searching by author prepend your search with author: eg author:J.K Rowling</p>
								<p>When searching by title do title:Harry Potter and the Order of the Pheonix</p>
								<p>When searching by ISBN do isbn:9780439358071</p>
							</div>
						</form>
					</div>
					<div ng-show="loading" cool-loader>
						Loading...
					</div>
					<div ng-show="!totalItems && ran">
						Sorry but I couldn't find anything!
					</div>
					<div class="row" ng-show="totalItems" >
						<div>{{totalItems}} items found</div>
						<div class="book-listing list animated row" ng-repeat = "book in books" ng-init = "b = book.volumeInfo">
							<div class="col-md-2">
								<img data-lazy="{{b.imageLinks.thumbnail}}">
							</div>
							<div class="col-md-8">
								<div class="details">
									<div class="triangle-with-shadow"></div>
									<h4 class="media-heading">{{b.title}}</h4>
									<p>Author(s)</p>
									<ul class="unstyled">
										<li ng-repeat="author in b.authors">{{author}}</li>
									</ul>
									<p ng-init="limit=150">
										{{b.description | limitTo:limit}} 
										<a href="#" ng-click="limit=(limit == 150)? 99999 : 150" ng-show="b.description.length > 150">
											<span ng-show="limit ==150">Show More</span>
											<span ng-show="limit != 150">Show Less</span>
										</a>
									</p>
									<p>
										ISBN: {{b.industryIdentifiers[1].identifier}}
									</p>
								</div>
								<button class="btn" ng-click="addToLibrary()" ng-show="!loading && !book.added">Add to Library</button>
								<p ng-show="loading" cool-loader></p>
								<a ng-href="#" class="btn btn-success" disabled ng-show="book.added">
									<span class="glyphicon glyphicon-ok" ></span>
									Added to Library
									
								</a>
							</div>
						</div>
						
					</div>
				</div>
				