<div class="book-listing cover list row" ng-show="!loading">
	<div class="col-md-2">
		<a ng-href="/book/{{book.id}}"><img data-lazy="{{book.imageLinks.thumbnail}}" data-lazy-watch="viewType" ng-class='{checkedout: !book.checkedIn}'></a>
		
		<p ng-show="!book.checkedIn">Book is checked out to {{book.checkedOutTo}}</p>
	</div>
	<div class="col-md-8">
		<div class="details">
			<div class="triangle-with-shadow"></div>
			<h4 class="media-heading"><a ng-href="/book/{{book.id}}">{{book.title}}</a></h4>
			<p>Author(s)</p>
			<ul class="unstyled">
				<li ng-repeat="author in book.authors">{{author}}</li>
			</ul>
			<p ng-init="limit=150">
				{{book.description | limitTo:limit}} 
				<a href="#" ng-click="limit=(limit == 150)? 99999 : 150" ng-show="book.description.length > 150">
					<span ng-show="limit ==150">Show More</span>
					<span ng-show="limit != 150">Show Less</span>
				</a>
			</p>
			<p>
				ISBN: {{book.industryIdentifiers[1].identifier}}
			</p>
		</div>
		<div class="well">
			<div ng-show="book.checkedIn">
				<form action="" ng-submit="checkout(book, name)" name="checkoutBookForm" class="form-inline">
					<div class="form-group">
						<label for="" class="sr-only">Name</label>
						<input type="text" name="name" required class="form-control" ng-model="name" placeholder="Name">
					</div>
					<button class="btn btn-primary" type="submit">Check out</button>
				</form>
			</div>
			
			<a href="#" class="btn btn-primary" ng-show="!book.checkedIn" ng-click="checkin(book)">Check in</a>
		</div>
	</div>
</div>