<div class="row">
	<div class="page-header">
		<h1>Your Library</h1>
	</div>
	<div class="col-md-4">
		<input type="text" ng-model="search" placeholder="search books" class="form-control ">
	</div>
	
	<div class="sorting col-md-4">
		<a href="#" ng-click="order='title'">Sort By Title</a> | <a href="#" ng-click="order='author'">Sort by Author</a>
	</div>
	<div class="pull-right">
		<a href="#" ng-click="setViewType('grid')">Grid View</a> | <a href="#" ng-click="setViewType('list')">List View</a>
	</div>
</div>

<div class="row " masonry>
	<div ng-switch="viewType">
		<div ng-switch-when="grid">
			<ng-include src="'/partials/booksGridView.html'"></ng-include>
		</div ng-switch-when>
		<div ng-switch-when="list">
			<ng-include src="'/partials/booksListView.html'"></ng-include>
		</div ng-switch-when>
	</div ng-switch>
	
</div>